node_modules
.nuxt
.output
.env
dist
.claude/settings.json
package-lock.json

# Cloudflare
.wrangler/
wrangler.toml

# SQLite 数据库
*.db
*.db-shm
*.db-wal
dev.db

# Prisma 生成的二进制文件
prisma/main/query_engine-*.node